.selected {
    background-color: #148797;
    color: #FFFFFF; /* Cor das fontes quando selecionado */
  }
  
  .not-selected {
    background-color: #2C2C2C;
    color: #7B7B7B; /* Cor das fontes quando não selecionado */
  }

  .card-text{
    font-weight: bold;
}

.card-header{
  text-align: center;
}
  